.hero {
    background-image: url('../Images/header.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    width: auto;
    color: #FFFFFF;
    font-style: normal;
    padding-left: 100px;
    padding-bottom: 94px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
        font-weight: 700;
        font-size: 90px;
        line-height: 109px;
        margin: 0;
        padding: 0;
    }
    p {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
        padding: 0;
        max-width: 987px;
    }
}

@media screen and (max-width: 678px) {
    .hero {
        padding: 23px 0px 46px 27px;
        height: 155px;
        h1 {
            font-size: 30px;
            line-height: 36px;
        }
        p {
            font-size: 16px;
            line-height: 19px;
            max-width: 274px;
        }
    }
}

@media screen and (min-width: 679px) and (max-width: 1100px) {
    .hero {
        padding: 60px 0px 46px 50px;
        height: 155px;
        h1 {
            font-size: 50px;
            line-height: 70px;
        }
        p {
            font-size: 20px;
            line-height: 24px;
            max-width: 550px;
        }
    }
}