@font-face {
    font-family: 'ProductSans';
    src: local('ProductSans'), url(./ProductSansRegular.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}


/* * {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}  */

.content {
    padding: 30px 0px 46px 0px;
    color: #000000;
    font-style: normal;
    font-family: 'ProductSans';
    font-weight: 400;
    span {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        display: grid;
        place-content: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 46px 276px 0 276px;
        label {
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 8px;
            align-self: flex-start;
        }
        textarea {
            text-align: justify;
            height: 300px;
            padding: 4px;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 32px;
            width: 100%;
        }
        textarea::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #132013;
        }
        input {
            padding: 20px 0 20px 16px;
            margin-bottom: 32px;
            border: 0.7px solid rgba(19, 32, 19, 0.3);
            border-radius: 4px;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.000909091em;
            color: #132013;
            mix-blend-mode: normal;
            width: 100%;
        }
        input::placeholder {
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;
            letter-spacing: 0.000909091em;
            color: #132013;
            mix-blend-mode: normal;
        }
        select {
            border: 0.7px solid rgba(19, 32, 19, 0.3);
            opacity: 0.5;
        }
        .button {
            margin-top: 50px;
            height: 78px;
            width: 575px;
            background: #E66B3C;
            border-radius: 48px;
            color: #FFFFFF;
            transition: 0.4s ease-in;
            cursor: pointer;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            border: none;
            outline: none;
        }
        .button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        section {
            padding-bottom: 50px;
            width: 100%;
            .date-time {
                display: flex;
                justify-content: space-between;
                align-items: center;
                i {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
            .date-time-container {
                background: #FAFAFA;
                border: 1px solid rgba(19, 32, 19, 0.1);
                border-radius: 4px;
                display: flex;
                padding: 16px 0px 16px 16px;
                align-items: center;
                margin-bottom: 8px;
                .datepicker {
                    padding: 13px 23px 13px 21px;
                    font-size: 13px;
                    background: #FBFBFB;
                    border: 0.960366px solid #113333;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    small {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #969696;
                        padding-left: 12px;
                        padding-right: 92px;
                    }
                }
                .timepicker {
                    margin-left: 28px;
                    background: #FBFBFB;
                    border: 0.960366px solid #D8D8D8;
                    border-radius: 8px;
                    width: 251px;
                    display: flex;
                    align-items: center;
                    padding: 0 16px;
                    select {
                        background: #FBFBFB;
                        border: none;
                        margin: 0;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        width: calc(100% - 20px);
                        height: 50px;
                        padding: 13px 23px 13px 21px;
                    }
                    select:focus {
                        outline: none;
                    }
                }
                .add-button {
                    justify-self: end;
                    margin-left: auto;
                    margin-right: 30px;
                    background: #113333;
                    border-radius: 4px;
                    padding: 10px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    border: none;
                    cursor: pointer;
                }
                .add-button:disabled {
                    display: none;
                }
                .remove-button {
                    justify-self: end;
                    margin-left: auto;
                    border: none;
                    outline: none;
                    background: none;
                    padding: 0;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #EB5757;
                    margin-right: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 678px) {
    .content {
        padding: 30px 20px;
        span {
            font-size: 20px;
            line-height: 24px;
            display: block;
        }
        form {
            display: block;
            padding: 30px 0 0 0;
            width: 100%;
            label {
                font-size: 14px;
                line-height: 18px;
            }
            input {
                padding: 20px 0 20px 16px;
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 15px;
                width: calc(100% - 10px);
            }
            input::placeholder {
                font-size: 10px;
                line-height: 13px;
            }
            textarea {
                height: 350px;
                font-size: 14px;
                line-height: 15px;
                margin-bottom: 20px;
                width: calc(100% - 5px);
            }
            textarea::placeholder {
                font-size: 10px;
                line-height: 13px;
            }
            .button {
                margin-top: 50px;
                height: 50px;
                width: 100%;
                border-radius: 31px;
                font-size: 20px;
                line-height: 25px;
                border: none;
                outline: none;
            }
            section {
                .date-time {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    label {
                        font-size: 13px;
                    }
                    i {
                        font-size: 11px;
                    }
                }
                .date-time-container {
                    display: flex;
                    flex-direction: column;
                    padding: 16px;
                    align-items: center;
                    margin-bottom: 8px;
                    .timepicker {
                        width: 230px;
                        margin: 0;
                        margin-top: 16px;
                        select {
                            width: inherit;
                            padding: 13px 23px 13px 21px;
                        }
                    }
                    .add-button {
                        margin-right: 14px;
                        font-size: 12px;
                        line-height: 14px;
                        margin-top: 10px;
                    }
                    .remove-button {
                        padding-top: 8px;
                        font-size: 12px;
                        line-height: 14px;
                        margin-right: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 679px) and (max-width: 1100px) {
    .content {
        span {
            font-size: 19px;
            line-height: 24px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 100px;
            label {
                font-size: 16px;
                line-height: 18px;
            }
            section {
                .date-time-container {
                    padding: 14px 0px 14px 14px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .datepicker {
                        padding: 13px 15px 13px 15px;
                        small {
                            width: 120px;
                            padding-right: 22px;
                        }
                    }
                    .timepicker {
                        padding: 0 14px;
                        width: 190px;
                        select {
                            width: calc(100% - 40px);
                            padding: 13px;
                        }
                    }
                    .add-button {
                        margin-right: 10px;
                    }
                    .remove-button {
                        justify-self: end;
                        margin-left: auto;
                        border: none;
                        outline: none;
                        background: none;
                        padding: 0;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #EB5757;
                        margin-right: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}