@font-face {
    font-family: 'ProductSans';
    src: local('ProductSans'), url(./ProductSansRegular.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}


/* * {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}  */

.content {
    padding: 50px 0px 134px 100px;
    color: #000000;
    font-style: normal;
    font-family: 'ProductSans';
    font-weight: 400;
    p {
        font-size: 24px;
        line-height: 29px;
        padding-right: 304px;
        margin: 0;
        padding-bottom: 50px;
    }
    span {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    form {
        display: flex;
        flex-direction: column;
        padding-top: 46px;
        label {
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 8px;
        }
        textarea {
            margin-right: 452px;
            text-align: justify;
            height: 300px;
            padding: 4px;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 32px;
        }
        textarea::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #132013;
        }
        input {
            margin-right: 452px;
            padding: 20px 0 20px 16px;
            margin-bottom: 32px;
            border: 0.7px solid rgba(19, 32, 19, 0.3);
            border-radius: 4px;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.000909091em;
            color: #132013;
            mix-blend-mode: normal;
        }
        input::placeholder {
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;
            letter-spacing: 0.000909091em;
            color: #132013;
            mix-blend-mode: normal;
        }
        select {
            margin-right: 452px;
            padding: 20px 16px;
            margin-bottom: 32px;
            border: 0.7px solid rgba(19, 32, 19, 0.3);
            border-radius: 4px;
            background-color: #FFFFFF;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.000909091em;
            color: #132013;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
        span {
            font-size: 16px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.8);
            padding-bottom: 32px;
        }
        p {
            font-size: 16px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.8);
            padding-top: 10px;
        }
        .button {
            margin-top: 50px;
            height: 78px;
            width: 575px;
            background: #E66B3C;
            border-radius: 48px;
            color: #FFFFFF;
            transition: 0.4s ease-in;
            cursor: pointer;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            border: none;
            outline: none;
        }
        .button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
        section {
            margin-right: 452px;
            padding-bottom: 107px;
            .date-time {
                display: flex;
                justify-content: space-between;
                align-items: center;
                i {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
            .date-time-container {
                background: #FAFAFA;
                border: 1px solid rgba(19, 32, 19, 0.1);
                border-radius: 4px;
                display: flex;
                padding: 16px 0px 16px 16px;
                align-items: center;
                margin-bottom: 8px;
                .datepicker {
                    padding: 13px 23px 13px 21px;
                    font-size: 13px;
                    background: #FBFBFB;
                    border: 0.960366px solid #113333;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    small {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #969696;
                        padding-left: 12px;
                        padding-right: 92px;
                    }
                }
                .timepicker {
                    margin-left: 28px;
                    background: #FBFBFB;
                    border: 0.960366px solid #D8D8D8;
                    border-radius: 8px;
                    width: 251px;
                    display: flex;
                    align-items: center;
                    padding: 0 16px;
                    select {
                        background: #FBFBFB;
                        border: none;
                        margin: 0;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        width: calc(100% - 20px);
                        height: 50px;
                        padding: 13px 23px 13px 21px;
                    }
                    select:focus {
                        outline: none;
                    }
                }
                .add-button {
                    justify-self: end;
                    margin-left: auto;
                    margin-right: 30px;
                    background: #113333;
                    border-radius: 4px;
                    padding: 10px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    border: none;
                    cursor: pointer;
                }
                .add-button:disabled {
                    display: none;
                }
                .remove-button {
                    justify-self: end;
                    margin-left: auto;
                    border: none;
                    outline: none;
                    background: none;
                    padding: 0;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #EB5757;
                    margin-right: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}