@font-face {
    font-family: 'ProductSans';
    src: local('ProductSans'), url(./ProductSansRegular.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.modal {
    height: auto;
    width: 873px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FDFDFD;
    border-radius: 8px;
    font-family: 'ProductSans';
    .header {
        height: 143px;
        background: #113333;
        display: grid;
        place-content: center;
        border-radius: 8px 8px 0px 0px;
        font-weight: 400;
        font-size: 34px;
        color: #FFFFFF;
        line-height: 41px;
        width: 100%;
    }
    .booking-confirmed {
        height: 336px;
        width: 100%;
        background: #F4F9FF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .booking-icon-status {
        height: 336px;
        background: #F4F9FF;
        width: 100%;
        img {
            padding-left: 37px;
        }
        h1 {
            margin: 0;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            padding-left: 55px;
        }
    }
    section {
        padding: 60px 55px 50px 55px;
        align-self: flex-start;
        .detail {
            display: flex;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            padding-bottom: 39px;
            .para {
                width: 115px;
                color: rgba(0, 0, 0, 0.6);
            }
            .time-date {
                display: grid;
                grid-template-columns: auto auto;
                gap: 34px;
                span {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: rgba(0, 0, 0, 0.8);
                }
                time {
                    color: #000000;
                }
            }
        }
        .description {
            padding: 14px 20px;
            background: rgba(17, 51, 51, 0.1);
            border-radius: 8px;
            h3 {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                opacity: 0.5;
                margin: 0;
            }
            p {
                text-align: justify;
                font-weight: 400;
                font-size: 16px;
                line-height: 29px
            }
        }
    }
    .confirm-booking {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 62px;
        p {
            width: 508px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
        }
    }
    button {
        margin-top: 70px;
        margin-bottom: 59px;
        height: 78px;
        width: 575px;
        background: #E66B3C;
        border-radius: 48px;
        color: #FFFFFF;
        transition: 0.4s ease-in;
        cursor: pointer;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        border: none;
    }
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
}