@font-face {
    font-family: 'ProductSans';
    src: local('ProductSans'), url(./ProductSansRegular.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.modal {
    height: auto;
    width: 873px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FDFDFD;
    border-radius: 8px;
    font-family: 'ProductSans';
    .header {
        height: 103px;
        background: #113333;
        display: grid;
        place-content: center;
        border-radius: 8px 8px 0px 0px;
        font-weight: 400;
        font-size: 30px;
        color: #FFFFFF;
        line-height: 41px;
        width: 100%;
    }
    .booking-confirmed {
        height: auto;
        width: 100%;
        background: #F4F9FF;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 200px;
            width: 200px;
        }
    }
    .booking-icon-status {
        height: auto;
        background: #F4F9FF;
        width: 100%;
        img {
            padding-left: 37px;
            height: 110px;
            width: 150px;
        }
        h1 {
            margin: 0;
            font-weight: 700;
            font-size: 22px;
            line-height: 39px;
            padding-left: 55px;
            padding-bottom: 20px;
        }
    }
    section {
        padding: 25px 55px 30px 55px;
        align-self: flex-start;
        .detail {
            display: flex;
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
            padding-bottom: 15px;
            .para {
                width: 85px;
                color: rgba(0, 0, 0, 0.6);
            }
            .time-date {
                display: grid;
                grid-template-columns: auto auto;
                gap: 20px;
                span {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                }
                b {
                    color: rgba(0, 0, 0, 0.6);
                    font-weight: 400;
                }
                time {
                    color: #000000;
                }
            }
        }
        .description {
            padding: 14px 20px;
            background: rgba(17, 51, 51, 0.1);
            border-radius: 8px;
            width: 723px;
            margin-top: 20px;
            h3 {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                opacity: 0.5;
                margin: 0;
            }
            p {
                text-align: justify;
                font-weight: 400;
                font-size: 16px;
                line-height: 29px
            }
        }
    }
    .confirm-booking {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 25px;
        p {
            width: 508px;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
            margin: 0;
        }
    }
    button {
        margin-top: 20px;
        margin-bottom: 49px;
        height: 68px;
        width: 475px;
        background: #E66B3C;
        border-radius: 48px;
        color: #FFFFFF;
        transition: 0.4s ease-in;
        cursor: pointer;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        border: none;
    }
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 678px) {
    .modal {
        width: 100vw;
        overflow: hidden;
        .header {
            height: 50px;
            font-size: 18px;
            text-align: start;
            line-height: 22px;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            margin-left: 0;
        }
        .booking-icon-status {
            height: auto;
            background: #F4F9FF;
            img {
                padding-left: 0px;
                height: 70px;
                width: 100px;
            }
            h1 {
                margin: 0;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                padding: 0px 20px 20px 20px;
            }
        }
        section {
            padding: 25px 20px 30px 20px;
            .detail {
                font-size: 16px;
                line-height: 18px;
                padding-bottom: 10px;
                .para {
                    width: 75px;
                }
                .time-date {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 15px;
                    span {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
            .description {
                padding: 12px 18px;
                width: calc(100% - 35px);
                h3 {
                    font-size: 20px;
                    line-height: 24px;
                }
                p {
                    font-size: 14px;
                    line-height: 24px
                }
            }
        }
        .booking-confirmed {
            img {
                height: 150px;
                width: 150px;
            }
        }
        .confirm-booking {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: inherit;
            padding-top: 25px;
            p {
                width: calc(100% - 40px);
                font-size: 16px;
                line-height: 18px;
            }
        }
        button {
            margin: 15px 20px 39px 20px;
            height: 50px;
            width: calc(100% - 40px);
            border-radius: 30px;
            font-size: 18px;
            line-height: 22px;
            border: none;
        }
    }
}

@media screen and (min-width: 679px) and (max-width: 1100px) {
    .modal {
        width: 500px;
        .header {
            height: 70px;
            font-size: 25px;
            color: #FFFFFF;
            line-height: 35px;
            width: 100%;
        }
        .booking-icon-status {
            height: auto;
            background: #F4F9FF;
            width: 100%;
            img {
                padding-left: 0px;
                height: 90px;
                width: 150px;
            }
            h1 {
                margin: 0;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                padding-left: 20px;
                padding-bottom: 20px;
            }
        }
        section {
            padding: 25px 20px 30px 20px;
            .detail {
                font-size: 18px;
                line-height: 18px;
                padding-bottom: 15px;
                .para {
                    width: 85px;
                }
                .time-date {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 20px;
                    span {
                        font-size: 18px;
                        line-height: 18px;
                    }
                }
            }
            .description {
                padding: 12px 18px;
                width: calc(100% + 100px);
                h3 {
                    font-size: 20px;
                    line-height: 24px;
                }
                p {
                    font-size: 14px;
                    line-height: 24px
                }
            }
        }
        .booking-confirmed {
            img {
                height: 150px;
                width: 150px;
            }
        }
        .confirm-booking {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 25px;
            p {
                width: 400px;
                font-size: 16px;
                line-height: 18px;
                padding: 0 20px;
            }
        }
        button {
            margin: 15px 20px 39px 20px;
            height: 50px;
            width: calc(100% - 40px);
            border-radius: 30px;
            font-size: 18px;
            line-height: 22px;
            border: none;
        }
    }
}