nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 136px 30px 100px;
    .navs {
        display: flex;
        justify-content: space-between;
        width: 450px;
    }
    .sections {
        margin-left: 200px;
        display: flex;
        justify-content: space-between;
        width: 250px;
    }
    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.6);
    }
}

@media screen and (max-width: 1100px) {
    nav {
        display: none;
    }
}