@font-face {
    font-family: 'ProductSans';
    src: local('ProductSans'), url(./fonts/ProductSans/ProductSansBold.ttf) format('truetype');
    font-weight: bold;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

body {
    padding: 0;
    margin: 0;
    font-family: 'ProductSans';
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}